body {
  font-family: 'Roboto', sans-serif;
  margin: 0px;
}

body.background-dark{
  background: url('./../../assets/footer_lodyas.png');
}

body.background-light{
  background: url('./../../assets/greyzz.png');
}

body.background-color{
  background: url('./../../assets/cardboard.png');
}

h1 {
  font-size: 50px;
}
