.comment{
  background: white;
  padding: 6rem 3rem;
}

.feedbackArea {
    border: 1px solid black;
    margin-top: 2rem;
    padding: 10px;
}

.commentDetailButton{
    background: #FFB405;
    border: 1px solid black;
    border-radius: 3px;
    margin-top: 20px;
    color: black;
    padding: 10px;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 18px;
    transition: background .5s ease-in-out, color .5s ease-in-out, border .5s ease-in-out;
    -moz-transition: background .5s ease-in-out, color .5s ease-in-out, border .5s ease-in-out;
    -webkit-transition: background .5s ease-in-out, color .5s ease-in-out, border .5s ease-in-out;
}

.commentDetailButton:hover {
    background: black;
    color: white;
    border: 1px solid white;
}
