.container {
  max-width: 1200px;
  width:90%;
  margin: 0 auto;
}

#footer {
    padding: 6rem 10px;
    text-align: center;
    font-size: 149px;
    font-weight: 700;
}

.footer-dark {
  background-color: black;
  color:white;
}

.footer-light {
  background-color: #651fff;
  color:white;
}

.footer-color {
  background-color: black;
  color:white;
}
