.container {
  max-width: 1200px;
  width:90%;
  margin: 0 auto;
}

#footer {
  position: absolute;
  width: 100%;
  bottom: 0;
}

.footer-dark {
  background-color: black;
  color:white;
}

.footer-light {
  background-color: red;
  color:white;
}

.footer-color {
  background-color: blue;
  color:white;
}
