#header {
  background-color: #d50000;
  color: white;
  padding: 10px 0;
}

p {
  margin:0px;
}

.container {
  max-width: 1200px;
  width:90%;
  margin: 0 auto;
}

#logo {
  display:inline-block;
  vertical-align: top;
}
