#header {

  padding: 15px 0;
}

p {
  margin:0px;
}

.container {
  max-width: 1200px;
  width:90%;
  margin: 0 auto;
}

#logo {
    display: inline-block;
    vertical-align: top;
    width: 50%;
    font-weight: 700;
    font-size: 37px;
}

.gold{
  color:#FFB405;
}

.header-dark {
  background-color: #651fff;
  color: white;
}

.header-light {
  background-color: black;
  color: white;
}

.header-color {
  background: url('./../../assets/wild_oliva.png');
  color: white;
}
