#menu {
  background-color: black;
  color: white;
  padding: 10px 0;
}

p {
  margin:0px;
}

.container {
  max-width: 1200px;
  width:90%;
  margin: 0 auto;
}

.closeButton,
.menuItems {
  display:inline-block;
  vertical-align: top;
}
.closeButton{
    font-size: 20px;
    position: absolute;
    right: 10px;
    vertical-align: middle;
    color:white;
    transition: color .5s ease-in-out;
    -moz-transition: color .5s ease-in-out;
    -webkit-transition: color .5s ease-in-out;
}

.closeButton:hover{
  color:gold;
}

.menuItems {
  font-size: 20px;
}
