.newTheaterForm h2{
  margin-top: 0;
}
.newTheaterForm {
    margin-top: 3rem;
}

.newTheaterForm input {
    width: 100%;
    display: inline-block;
    border-radius: 4px;
    padding: 10px;
    background: white;
    color: black;
    font-size: 18px;
    border: 1px solid black;
}

.newTheaterForm textarea {
    width: 84%;
    display: inline-block;
    border: 1px solid white;
    border-radius: 4px 0px 4px 4px;
    padding: 10px;
    background: #252525;
    color: white;
    font-size: 18px;
}

.form-group {
  margin-top: 10px;
  position:relative;
}

.newTheaterForm button {
    background: #FFB405;
    border: 1px solid black;
    border-radius: 3px;
    margin-top: 20px;
    color: black;
    padding: 10px;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 18px;
    transition: background .5s ease-in-out, color .5s ease-in-out, border .5s ease-in-out;
    -moz-transition: background .5s ease-in-out, color .5s ease-in-out, border .5s ease-in-out;
    -webkit-transition: background .5s ease-in-out, color .5s ease-in-out, border .5s ease-in-out;
}
.newTheaterForm button:hover {
    background: black;
    color: white;
    border: 1px solid white;
}

.newTheaterForm label {
    font-weight: 700;
}

.leftForm,
.rightForm {
  width: 47%;
  display: inline-block;
  vertical-align: top;
  margin-right: 3%;
}

.newTheaterForm p {
  margin-bottom:10px;
  max-width: 97%;
}
