#searchInputDiv {
  display: inline-block;
  vertical-align: top;
  -webkit-box-shadow: 0px 2px 15px 1px rgba(0,0,0,0.44);
-moz-box-shadow: 0px 2px 15px 1px rgba(0,0,0,0.44);
box-shadow: 0px 2px 15px 1px rgba(0,0,0,0.44);
}

.searchButton {
    border-radius: 0 5px 5px 0;
    background: black;
    color: #FFB405;
    padding: 10px;
    border: 1px solid #333333;
    font-weight: 700;
    font-size: 18px;
    display: inline-block;
    vertical-align: top;
    transition: background .5s ease-in-out, color .5s ease-in-out, border .5s ease-in-out;
    -moz-transition: background .5s ease-in-out, color .5s ease-in-out, border .5s ease-in-out;
    -webkit-transition: background .5s ease-in-out, color .5s ease-in-out, border .5s ease-in-out;
    text-transform: uppercase;
}

.searchButton:hover {
background: #FFB405;
color: black;
border: 1px solid #c38b06;
}

.searchInput {
    border-radius: 5px 0 0 5px;
    border: 1px solid black;
    padding: 10px;
    min-width: 300px;
    font-size: 18px;
    display: inline-block;
    vertical-align: top;
    border-right: 0;
}
