.voiceButtonOff {
    padding: 10px;
    border: 1px solid black;
    display: inline-block;
    vertical-align: top;
    background: #d4d4d4;
    color: black;
    font-weight: 700;
    font-size: 21px;
    border-left: 0;
    border-right: 0;
    transition: color .5s ease-in-out, background .5s ease-in-out;
    -moz-transition: color .5s ease-in-out, background .5s ease-in-out;
    -webkit-transition: color .5s ease-in-out, background .5s ease-in-out;
}

.voiceButtonOff:active {
    background: #ff3d00;
    color:white;
}

.voiceButtonOff:hover {
    color: #ff3d00;
}

.voiceButtonOn {
    padding: 10px;
    border: 1px solid black;
    display: inline-block;
    vertical-align: top;
    background: #ff3d00;
    color: white;
    font-weight: 700;
    font-size: 21px;
    border-left: 0;
        border-right: 0;
}
.voiceButtons {
  display: inline-block;
  vertical-align: top;
}
