
.theaterList {
    padding: 10px;
}

.theaterBox {
    width: 23.5%;
    margin-bottom: 2rem;
    min-height: 350px;
    border: 0px solid black;
    margin-right: 1.5%;
    background-color: white;
    display: inline-block;
    vertical-align: top;
    border-radius: 6px;
    -webkit-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.53);
    -moz-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.53);
    box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.53);
    transition: transform .5s ease-in-out;
    -moz-transition: transform .5s ease-in-out;
    -webkit-transition: transform .5s ease-in-out;
}

.theaterBox:hover {
  transform: scale(1.03);
}

.theaterBox h3{
  transition: color .5s ease-in-out;
  -moz-transition: color .5s ease-in-out;
  -webkit-transition: color .5s ease-in-out;
}

.theaterBox:hover h3{
  color:#651fff;
}

.theaterBox img {
    border-radius: 6px 6px 0 0;
}

.theaterBox:last-of-type {
    margin-right: 0%;
}

img {
  max-width:100%;
}

.theaterBoxText {
    margin: 0 8px 8px 8px;
}

.theaterBoxPhone {
    margin-top: 15px;
}

.purpleText {
  color: #651fff;
}
