.light-theme {
  width: 25px;
  height: 25px;
  border: 2px solid black;
  border-radius: 3px;
  background: #ffffff;
  background: -moz-linear-gradient(-45deg, #ffffff 0%, #651fff 100%);
  background: -webkit-linear-gradient(-45deg, #ffffff 0%,#651fff 100%);
  background: linear-gradient(135deg, #ffffff 0%,#651fff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#651fff',GradientType=1 );
}

.dark-theme {
  width: 25px;
  height: 25px;
  border: 2px solid black;
  border-radius: 3px;
  background: #000000;
  background: -moz-linear-gradient(-45deg, #000000 0%, #651fff 100%);
  background: -webkit-linear-gradient(-45deg, #000000 0%,#651fff 100%);
  background: linear-gradient(135deg, #000000 0%,#651fff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#651fff',GradientType=1 );
}

.color-theme {
  width: 25px;
  height: 25px;
  border: 2px solid black;
  border-radius: 3px;
  background: #383838;
  background: -moz-linear-gradient(-45deg, #383838 0%, #d1d1d1 100%);
  background: -webkit-linear-gradient(-45deg, #383838 0%,#d1d1d1 100%);
  background: linear-gradient(135deg, #383838 0%,#d1d1d1 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#383838', endColorstr='#d1d1d1',GradientType=1 );
}

.themes {
  display:inline-block;
  vertical-align: top;
  margin-right: 5px;
}

.themeSwitcher {
    vertical-align: top;
    margin-right: 7%;
    background: #ffb405;
    color: black;
    padding: 3px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
}

.themes:last-of-type {
    margin-right: 0;
}

.themeSwitcher h4{
  display:inline-block;
  vertical-align: top;
  margin: 0 6px 0 3px;
}

#footer .themeSwitcher {
  margin-right: 0;
}
